.BurgerButton {
  position: relative;
  height: 36px;
  width: 36px;
  background-color: transparent;
  border: 0;
  opacity: 0.6;
  transform: scale(0.9);
  z-index: 10;
  outline: none;

  @keyframes Rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

  & > .bar1 {
    height: 2px;
    background-color: white;
    position: absolute;
    width: 28px;
    left: 4px;
    top: 16px;
    border-radius: 4px;
    transition: transform 250ms;
    transform: translateY(-5px) rotate(0);

    //
  }
  & > .bar2 {
    height: 2px;
    background-color: white;
    position: absolute;
    width: 28px;
    left: 4px;
    top: 16px;
    border-radius: 4px;
    transition: transform 250ms;
    transform: translateY(5px) rotate(0);
  }

  &.isOpen {
    & > .bar1 {
      transform: rotate(45deg);
    }

    & > .bar2 {
      transform: rotate(-45deg);
    }
  }
}

.modal {
  & > .overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(var(--dark-dec), 0.8);

    @keyframes BurgerModalOverlayEntry {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    animation: BurgerModalOverlayEntry 400ms;
  }

  & > .content {
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    // bottom: 0;
    height: 100vh;
    background-color: white;
    color: var(--dark);
    display: flex;
    flex-direction: column;

    & > header {
      height: 60px;
      background-color: var(--primary);
    }

    nav {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      flex: 1;

      & > a {
        display: block;
        padding: 10px 20px;
      }
    }

    & > footer {
      padding: 20px;

      button {
        width: 100%;
        padding: 0 30px;
        background-color: #e1963a;
        background-image: linear-gradient(
          to bottom right,
          transparent,
          #d35731 200%
        );
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        font-weight: 400;

        & > svg {
          margin-right: 6px;
        }
      }
    }

    @keyframes BurgerModalEntry {
      from {
        transform: translateX(100px);
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      to {
        transform: none;
      }
    }

    animation: BurgerModalEntry 400ms;
  }
}
