.HeadSection {
  padding: 260px 0 200px 0;
  background-image: linear-gradient(to top, transparent, rgba(#262d4d, 0.7)),
    linear-gradient(to top left, rgba(211, 87, 49, 0.5), transparent);
  background-color: #5d6bbb;
  color: white;

  @media (max-width: 768px) {
    padding: 110px 0 50px 0;
  }

  @media (max-width: 500px) {
    padding: 100px 0 70px 0;
  }

  .container {
    width: 1000px;
    margin: 0 auto;
    max-width: 100vw;
    box-sizing: border-box;
  }

  .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :not(:nth-last-child(1)) {
      margin-right: 70px;
    }

    @media (max-width: 1000px) {
      flex-direction: column;

      & > :not(:nth-last-child(1)) {
        margin-right: 0;
        margin-bottom: 30px;

        @media (max-width: 500px) {
          margin-bottom: 20px;
        }
      }
    }

    & > .text {
      flex: 1;
    }
  }

  .profile-picture {
    position: relative;
    height: 300px;
    width: 300px;

    @media (max-width: 1000px) {
      height: 240px;
      width: 240px;
    }

    @media (max-width: 768px) {
      height: 180px;
      width: 180px;
    }

    @media (max-width: 500px) {
      height: 120px;
      width: 120px;
    }
  }

  @keyframes HeaderSectionEntry {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    50% {
      opacity: 1;
    }
    to {
      transform: none;
    }
  }

  h1 {
    font-size: 56px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    animation: HeaderSectionEntry 500ms;
    animation-fill-mode: both;
    animation-delay: 200ms;

    @media (max-width: 1000px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 1.2;
    }

    @media (max-width: 500px) {
      font-size: 26px;
      margin-bottom: 10px;
    }

    i {
      font-style: normal;
      font-weight: 300;
    }
  }

  .subheadline {
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 300;
    animation: HeaderSectionEntry 500ms;
    animation-fill-mode: both;
    animation-delay: 400ms;

    @media (max-width: 1000px) {
      text-align: center;
      max-width: 600px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
      padding: 0 20px;
    }

    strong {
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.CTALine {
  display: flex;
  margin-top: 30px;

  @media (max-width: 768px) {
    justify-content: center;
    margin: 30px auto 0 auto;
  }

  @media (max-width: 500px) {
    margin-top: 20px;
  }

  .cta {
    display: block;
    cursor: pointer;
    padding: 0;
    color: white;
    font: inherit;
    border: 0;
    font-size: 20px;
    position: relative;
    background-color: transparent;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -8px;
      left: -8px;
      bottom: -8px;
      right: -8px;
      background-color: rgba(white, 0.15);
      border-radius: 16px;
      opacity: 0;
      transform: scale(0.93, 0.8);
      transition: opacity 150ms, transform 150ms;
    }

    & > span {
      padding: 0 30px;
      background-color: #e1963a;
      background-image: linear-gradient(
        to bottom right,
        transparent,
        #d35731 200%
      );
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: relative;
      z-index: 2;

      & > svg {
        margin-right: 6px;
        font-size: 24px;
      }
    }

    &:hover {
      &::after {
        transform: scale(1);
        opacity: 0.5;
      }
    }

    &:active {
      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
