.PageHome {
  font-size: 18px;
  .TEST {
    color: white;

    background-color: var(--primary);

    .container {
      width: 1000px;
      margin: 0 auto;
      max-width: 100%;
      padding: 0 20px;
    }
  }
}
