.Topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;

  .logo {
    height: 40px;
    width: 40px;
    display: flex;
  }

  & > div > nav {
    display: flex;
    align-items: center;
    margin-right: 20px;

    & > a {
      margin-left: 40px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
