.Slider {
  max-width: 100%;

  & > .scroller {
    overflow-x: auto;

    .filler {
      & > div {
        width: calc(max((100vw - 1000px + 40px) / 2 + 1000px - 300px, 20px));
      }

      @media (max-width: 1000px) {
        display: none;
      }
    }

    scroll-snap-type: x mandatory;
    scroll-margin: 20px;

    &::-webkit-scrollbar {
      height: 0;
    }

    @media (pointer: fine) {
      // &::-webkit-scrollbar {
      //   height: 12px;
      //   background-color: rgba(white, 0.1);
      // }

      // &::-webkit-scrollbar-thumb {
      //   background-color: rgba(white, 0.2);
      //   border-radius: 4px;
      //   cursor: pointer;

      //   &:hover {
      //     background-color: rgba(white, 0.4);
      //   }
      // }
    }

    & > div {
      display: flex;
      gap: 20px;
      padding: 20px 0;
      padding-left: calc(max((100vw - 1000px + 40px) / 2, 20px));
    }
  }
}

.control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  max-width: calc(100% - 40px);

  @media (pointer: coarse) {
    display: none;
  }

  & > div {
    padding: 20px;
  }
}
